.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 10px solid orange;

}

main{
    background-color: orange;
}

.receita{
    width: 400px;
    height: 850px;
    font-style: normal; 
	background-color: gainsboro;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}






